{
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-plusplus": 0,

    // In TypeScript arrow-functions are better for component definitions as
    // they allow typing like this, which helps to avoid many errors early:
    // const Component: React.FunctionComponent<Props> = ({ ... }) => { ... };
    "react/function-component-definition": ["error", {
      "namedComponents": "arrow-function",
      "unnamedComponents": "arrow-function"
    }],

    "react/jsx-one-expression-per-line": 0,
    "react/react-in-jsx-scope": 0,

    // NOTE: defaultProps will be deprecated in React@19. Presumably,
    // once AirBnB ESLint config is updated there will be no need to disable
    // this rule explicitly, but for now here it is disabled.
    "react/prop-types": "off",
    "react/require-default-props": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
