{
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-plusplus": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/react-in-jsx-scope": 0,

    // NOTE: defaultProps will be deprecated in React@19. Presumably,
    // once AirBnB ESLint config is updated there will be no need to disable
    // this rule explicitly, but for now here it is disabled.
    "react/prop-types": "off",
    "react/require-default-props": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
